{% include 'header.html' %}
<!------------------------------------------------
		navigation - end
		------------------------------------------------>
<main class="main">
  <!------------------------------------------------
		    page header - start
		    ------------------------------------------------>
  <div class="page-header bg-more-light">
    <div class="container">
      <h2 class="page-title">Book appointment</h2>
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">
            <a href="index.html">Pages</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Book Appointment
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <!------------------------------------------------
		    page header - end
		    ------------------------------------------------>
  <!------------------------------------------------
		    step bar - start
		    ------------------------------------------------>
  <div class="bg-secondary-color">
    <div class="container">
      <div class="step-bar">
        <div class="steps-progress">
          <div class="progress-indicator" style="width: 0%"></div>
        </div>
        <ul class="nav-step">
          <li class="nav-item active">
            <div class="nav-link">
              <div class="check-circle">1</div>
              <span>Select a doctor</span>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <div class="check-circle">2</div>
              <span>Create profile</span>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <div class="check-circle">3</div>
              <span>Pay and finish</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!------------------------------------------------
		    step bar - end
		    ------------------------------------------------>
  <!------------------------------------------------
		    content - start
		    ------------------------------------------------>
  <div class="container apppointment-step-2-section">
    <div class="row">
      <div class="col-lg-8 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1">
        <h2 class="ls-n-20 line-height-1">Create profile</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1">
        <form class="appoint-form mb-3">
          <div class="input-group input-light">
            <h6 class="input-title mt-0">Name</h6>
            <input type="text" class="form-control" placeholder="First name" />
            <input type="text" class="form-control" placeholder="Last name" />
          </div>
          <div class="input-group input-light">
            <h6 class="input-title">Date of Birth</h6>
            <input type="text" class="form-control" placeholder="mm/dd/yy" />
          </div>
          <div class="input-group">
            <h6 class="input-title">Gender</h6>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="male"
                name="gender"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="male"
                >I'm a Female</label
              >
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="female"
                name="gender"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="female"
                >I'm a Male</label
              >
            </div>
          </div>
          <div class="input-group input-light">
            <h6 class="input-title">Mobile</h6>
            <input
              type="text"
              class="form-control"
              placeholder="xxx-xxx-xxxx"
            />
          </div>
          <div class="input-group input-light">
            <h6 class="input-title">Email</h6>
            <input
              type="email"
              class="form-control"
              placeholder="example@gmail.com"
            />
          </div>
          <div class="input-group input-light">
            <h6 class="input-title">Password</h6>
            <input type="password" class="form-control" />
          </div>
          <div class="input-group input-light input-check term-privacy mt-2">
            <input type="checkbox" class="custom-control-input" id="terms" />
            <label class="custom-control-label" for="terms">
              I agree to
              <a href="#">Terms of Use</a>
              and
              <a href="#">Privacy Policy</a>
            </label>
          </div>
          <button
            type="submit"
            class="btn btn-secondary-color btn-form d-flex mr-auto ml-auto mb-1"
          >
            <span>Create Profile</span>
          </button>
          <div class="term-privacy d-flex justify-content-center m-b-3">
            <span>Already have an account?</span>
            <div class="btn-link"><a href="login.html">Sign in</a></div>
          </div>
        </form>
      </div>
      <div class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1">
        <div class="image-box">
          <figure>
            <img
              src="assets/images/doctors/doctor3-7.jpg"
              class="w-100"
              alt="Doctor"
              width="370"
              height="407"
            />
          </figure>
          <div class="box-content box-doctor">
            <h4 class="box-title mb-0">Dr. George Brown</h4>
            <div class="ratings-container mb-0">
              <div class="ratings">
                <div class="ratings-val" style="width: 100%"></div>
              </div>
              <span>4.8/5.0</span>
            </div>
            <span class="box-desc mb-0 ls-0">
              You'll be seeing Dr. George tomorrow at 9:00 PM CDT
            </span>
          </div>
          <div class="box-content box-content-clock mt-1">
            <h3 class="box-title m-b-1"><i class="far fa-clock"></i> 5:36</h3>
            <span class="box-desc mb-0 ls-0">
              We're holding your appointment while you complete your booking.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------
		    content - end
		    ------------------------------------------------>
</main>
<!------------------------------------------------
		footer - start
		------------------------------------------------>
{% include 'footer.html' %}
