{% include 'header.html' %}
<!------------------------------------------------
		navigation - end
		------------------------------------------------>
<main class="main">
  <!------------------------------------------------
		    page header - start
		    ------------------------------------------------>
  <div class="page-header bg-more-light">
    <div class="container">
      <h2 class="page-title">Book appointment</h2>
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">
            <a href="index.html">Pages</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Book Appointment
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <!------------------------------------------------
		    page header - end
		    ------------------------------------------------>
  <!------------------------------------------------
		    step bar - start
		    ------------------------------------------------>
  <div class="bg-secondary-color">
    <div class="container">
      <div class="step-bar">
        <div class="steps-progress">
          <div class="progress-indicator" style="width: 100%"></div>
        </div>
        <ul class="nav-step">
          <li class="nav-item completed">
            <div class="nav-link">
              <div class="check-circle"><i class="fas fa-check"></i></div>
              <span>Select a doctor</span>
            </div>
          </li>
          <li class="nav-item completed">
            <div class="nav-link">
              <div class="check-circle"><i class="fas fa-check"></i></div>
              <span>Create profile</span>
            </div>
          </li>
          <li class="nav-item completed">
            <div class="nav-link">
              <div class="check-circle"><i class="fas fa-check"></i></div>
              <span>Pay and finish</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!------------------------------------------------
		    step bar - end
		    ------------------------------------------------>
  <!------------------------------------------------
		    content - start
		    ------------------------------------------------>
  <div class="container apppointment-step-4-section">
    <div class="row">
      <div class="col-lg-8 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1">
        <h2 class="ls-n-20 line-height-1">Booking successful.</h2>
        <h4 class="sub-title">Dear James Brown.</h4>
        <span class="sub-paragraph"
          >Your appointment with Dr. George Brown has been successfully
          completed.</span
        >
      </div>
    </div>
    <div class="row d-flex content-row">
      <div
        class="col-lg-8 offset-lg-0 order-lg-1 col-sm-8 offset-sm-2 order-2 col-10 offset-1"
      >
        <ul class="appoint-list widget-list">
          <li class="list-item">
            <p class="list-title">Name:</p>
            <p class="list-info">James Brown</p>
          </li>
          <li class="list-item">
            <p class="list-title">Booking For:</p>
            <p class="list-info">Myself</p>
          </li>
          <li class="list-item">
            <p class="list-title">Email Address:</p>
            <p class="list-info">gfx.partner@gmail.com</p>
          </li>
          <li class="list-item">
            <p class="list-title">Date:</p>
            <p class="list-info">21 Dec, 2020</p>
          </li>
          <li class="list-item">
            <p class="list-title">Time:</p>
            <p class="list-info">9:00pm CDT</p>
          </li>
          <li class="list-item">
            <p class="list-title">Doctor Name:</p>
            <p class="list-info">Dr. George Brown</p>
          </li>
          <li class="list-item">
            <p class="list-title">Booking Code:</p>
            <p class="list-info">5DIY3FE</p>
          </li>
          <li class="list-item">
            <p class="list-title">Payment Method:</p>
            <p class="list-info">Debit Card</p>
          </li>
        </ul>
        <span>Please check your email for more details.</span>
      </div>
      <div
        class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 order-1 col-10 offset-1"
      >
        <div class="image-box mt-1">
          <figure>
            <img
              src="/static/assets/images/doctors/doctor3-7.jpg"
              class="w-100"
              alt="Doctor"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------
		    content - end
		    ------------------------------------------------>
  <!------------------------------------------------
            explore section - start
			------------------------------------------------>
  <div class="bg-light-color explore-section">
    <div class="container">
      <h2 class="ls-n-20 text-center section-heading">More to explore.</h2>
      <div class="explore-section-row">
        <div class="image-box explore-card text-center">
          <a href="appointment-step1.html">
            <figure>
              <img
                src="/static/assets/images/banner/explore-1.jpg"
                class="w-100"
                alt="Blog"
              />
              <div class="hover">
                <div class="circle">
                  <i class="fas fa-link"></i>
                </div>
              </div>
            </figure>
            <div class="box-content">
              <h4 class="box-title">Book an<br />appointment</h4>
            </div>
          </a>
        </div>
        <div class="image-box explore-card text-center">
          <a href="how-it-works.html">
            <figure>
              <img
                src="/static/assets/images/banner/explore-2.jpg"
                class="w-100"
                alt="Blog"
              />
              <div class="hover">
                <div class="circle">
                  <i class="fas fa-link"></i>
                </div>
              </div>
            </figure>
            <div class="box-content">
              <h4 class="box-title">How does<br />it work?</h4>
            </div>
          </a>
        </div>
        <div class="image-box explore-card text-center">
          <a href="treatments.html">
            <figure>
              <img
                src="/static/assets/images/banner/explore-3.jpg"
                class="w-100"
                alt="Blog"
              />
              <div class="hover">
                <div class="circle">
                  <i class="fas fa-link"></i>
                </div>
              </div>
            </figure>
            <div class="box-content">
              <h4 class="box-title">What we<br />treat</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------
            explore section - end
			------------------------------------------------>
</main>
<!------------------------------------------------
		footer - start
		------------------------------------------------>
{% include 'footer.html' %}
