{% include 'header.html' %}
<!------------------------------------------------
		navigation - end
		------------------------------------------------>
<main class="main">
  <!------------------------------------------------
		    page header - start
		    ------------------------------------------------>
  <div class="page-header bg-more-light">
    <div class="container">
      <h2 class="page-title">Recent blog</h2>
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index-7.html">Home</a></li>
          <li class="breadcrumb-item active">
            <a href="index.html">Pages</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Recent blog
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <!------------------------------------------------
		    page header - end
		    ------------------------------------------------>
  <!------------------------------------------------
		    content - start
		    ------------------------------------------------>
  <div class="container blog-detailed">
    <div class="row">
      <div class="col-lg-12 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1">
        <figure>
          <img
            src="/static/assets/images/blog/blog-big.jpg"
            class="w-100 height-auto"
            alt="Bloog-big"
            width="1170"
            height="684"
          />
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-sm-8 offset-sm-2 col-10 offset-1">
        <div class="blog-content">
          <h2 class="blog-title ls-n-20">How long can Dementia affect?</h2>
          <p class="post-date">
            <a href="#">2 hours ago</a><span class="text-divider">|</span>4
            Comments
          </p>
          <p>
            No matter where you are or how busy your life gets, you can talk to
            one of our many friendly and knowledgable doctors online at a time
            that works with your schedule.
            <a href="#" class="text-underline"
              >Day dry face darkness were divide whose</a
            >
            replenish won't the and shall man deep evening days open moving
            evening have man great gathering fruit tree grass gathering us third
            grass made yielding saying earth to creepeth creepeth she'd air mo
            matter where you are or how busy your life gets, you can talk to one
            of our many friendly and knowledgable doctors online at a time that
            works with your schedule.
          </p>
          <h3 class="blog-subtitle ls-n-20">
            Can you contact the coronavirus disease by touching a surface?
          </h3>
          <p>
            Day dry face darkness were divide whose replenish won't the and
            shall man deep evening days open moving evening have man great
            gathering fruit tree grass gathering us third grass made yielding
            saying earth to creepeth creepeth she'd air female appear was
            brought signs likeness thing.
          </p>
          <p class="secondary-color ls-20 mb-4">
            “While many places are seeing fewer cases of the novel coronavirus,
            the threat is very much still around and most communities remain in
            shelter in place and are following various social distancing
            regulations in their countries.”
          </p>
          <p>
            The Centers for
            <a href="#" class="text-underline"
              >Disease Control and Prevention</a
            >
            (CDC) recommends cleaning frequently touched household surfaces at
            least once a day with a household cleaner, then going back and
            disinfecting surfaces with an EPA-approved disinfectant.
          </p>
          <ul class="mb-4">
            <li>
              <a><i class="far fa-caret-right"></i>Know how it spreads.</a>
              Coronavirus spreads primarily through person-to-person contact,
              even from people who aren't showing these symptoms.
            </li>
            <li>
              <a><i class="far fa-caret-right"></i>Wash your hands often.</a>
              Using soap, wash your hands for at least 20 seconds frequently
              throughout the day.
            </li>
            <li>
              <a
                ><i class="far fa-caret-right"></i>Avoid close contact with
                people who are sick.</a
              >
              Keep sick family members apart from anybody else.
            </li>
            <li>
              <a><i class="far fa-caret-right"></i>Cover coughs and sneezes</a>
              with a tissue or the crook of your elbow, then immediately wash
              your hands.
            </li>
            <li>
              <a><i class="far fa-caret-right"></i>Clean and disinfect</a>
              frequently touched surfaces in your home at least once.
            </li>
          </ul>
          <p>
            Day dry face darkness were divide whose replenish won't the and
            shall man deep evening days open moving evening have man great
            gathering fruit tree grass gathering us third grass made yielding
            saying earth to creepeth creepeth she'd air female appear was
            brought signs likeness thing.
          </p>
          <p>
            The Centers for
            <a class="text-underline">Disease Control and Prevention</a>
            (CDC) recommends cleaning frequently touched household surfaces at
            least once a day with a household cleaner, then going back and
            disinfecting surfaces with an EPA-approved disinfectant.
          </p>
          <p>Share this post:</p>
          <ul class="social-links d-flex ml-0 mb-5">
            <li>
              <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" class="social-link"
                ><i class="fab fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="#" class="social-link"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
        <div class="blog-action">
          <div class="d-flex position-relative">
            <div class="action-prev">
              <a href="blog-detailed.html" class="btn-action blog-prev"
                >Previous post</a
              >
              <a href="blog-detailed.html"
                ><h4 class="action-title">
                  The uninsured and working class people.
                </h4></a
              >
            </div>
            <i class="fas fa-line-columns d-flex"></i>
            <div class="action-next">
              <a href="blog-detailed.html" class="btn-action blog-next"
                >Next post</a
              >
              <a href="blog-detailed.html"
                ><h4 class="action-title text-right">
                  Can you get a diflucan prescription online?
                </h4></a
              >
            </div>
          </div>
          <div class="blog blog-preview mt-5">
            <figure>
              <img
                src="/static/assets/images/avatar/avatar-6.png"
                class="avatar"
                alt="Avatar"
                width="92"
                height="92"
              />
            </figure>
            <div class="position-relative blog-author-box">
              <h4 class="blog-author mt-1 mb-1">Randy Garcia</h4>
              <p class="blog-desc">
                Be that lesser upon creepeth rule divide forth from without
                whose place air stars thing fifth fowl let evening called
                cattle.
              </p>
              <span class="primary-color">Connect:</span>
              <ul class="social-links d-flex ml-0 mt-1">
                <li>
                  <a href="#" class="social-link"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="social-link"
                    ><i class="fab fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="social-link"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="social-link"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </li>
              </ul>
              <a href="blog-masonry.html" class="btn btn-xs ls-20">
                <span>View All Posts</span>
              </a>
            </div>
          </div>
        </div>
        <div class="blog-comments">
          <h3 class="title">4 replies</h3>
          <ul class="comment-list">
            <li>
              <div class="comment d-sm-flex mt-2">
                <figure>
                  <img
                    src="/static/assets/images/avatar/avatar-8.png"
                    class="avatar"
                    alt="Avatar"
                    width="92"
                    height="92"
                  />
                </figure>
                <div class="comment-body">
                  <h4 class="comment-author">Randy Garcia</h4>
                  <span>3 hours ago</span>
                  <p class="comment-desc">
                    Be that lesser upon creepeth rule divide forth from without
                    whose place air stars thing fifth fowl let evening called
                    cattle.
                  </p>
                  <a href="#" class="btn btn-xs ls-20">
                    <span>Reply</span>
                  </a>
                </div>
              </div>
            </li>
            <li>
              <ul class="reply-list">
                <li>
                  <div class="comment d-sm-flex mt-2">
                    <figure>
                      <img
                        src="/static/assets/images/avatar/avatar-7.png"
                        class="avatar"
                        alt="Avatar"
                        width="92"
                        height="92"
                      />
                    </figure>
                    <div class="comment-body">
                      <h4 class="comment-author">Emily Pope</h4>
                      <span>2 hours ago</span>
                      <p class="comment-desc">
                        Lights and said and lesser heaven one moveth us can't
                        blessed days midst seed open fourth.
                      </p>
                      <a href="#" class="btn btn-xs ls-20">
                        <span>Reply</span>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="comment d-sm-flex mt-2">
                <figure>
                  <img
                    src="/static/assets/images/avatar/avatar-6.png"
                    class="avatar"
                    alt="Avatar"
                    width="92"
                    height="92"
                  />
                </figure>
                <div class="comment-body">
                  <h4 class="comment-author">Same Reeves</h4>
                  <span><a href="#">2 hours ago</a></span>
                  <p class="comment-desc">
                    Set after saw very were void set together seasons from also
                    saw green rate thing you'll first deep morning appear earth.
                  </p>
                  <a href="#" class="btn btn-xs ls-20">
                    <span>Reply</span>
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class="comment d-sm-flex mt-2">
                <figure>
                  <img
                    src="/static/assets/images/avatar/avatar-9.png"
                    class="avatar"
                    alt="Avatar"
                    width="92"
                    height="92"
                  />
                </figure>
                <div class="comment-body">
                  <h4 class="comment-author">Laura Evans</h4>
                  <span><a href="#">2 hours ago</a></span>
                  <p class="comment-desc">
                    Meat he dry fifth seas be seasons winged itself sixth you'll
                    brought like kindness given called gathering winged every
                    likeness.
                  </p>
                  <a href="#" class="btn btn-xs ls-20">
                    <span>Reply</span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
          <form class="review-form">
            <h3 class="form-title ls-n-20">Write a reply</h3>
            <div class="row row-joined">
              <div class="col-lg-6 mt-2">
                <div class="input-group input-light input-review">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name *"
                  />
                </div>
                <div class="input-group input-light input-review">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email *"
                  />
                </div>
                <div class="input-group input-light input-review">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Website"
                  />
                </div>
              </div>
              <div class="col-lg-6 mt-2">
                <div class="input-group input-light input-review h-100">
                  <textarea
                    class="form-control text-area h-100"
                    placeholder="Write review *"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="banner-actions d-flex justify-content-center">
              <button
                type="submit"
                class="btn btn-form btn-secondary-color mr-0"
              >
                <span>Submit Review</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------
		    content - end
		    ------------------------------------------------>
</main>
<!------------------------------------------------
		footer - start
		------------------------------------------------>
{% include 'footer.html' %}
