{% include 'header.html' %}
<!------------------------------------------------
		navigation - end
		------------------------------------------------>
<main class="main">
  <!------------------------------------------------
		    page header - start
		    ------------------------------------------------>
  <div class="page-header bg-more-light">
    <div class="container">
      <h2 class="page-title">Departments</h2>
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">
            <a href="index.html">Pages</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Departments
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <!------------------------------------------------
		    page header - end
		    ------------------------------------------------>
  <!------------------------------------------------
		    department detailed section - start
		    ------------------------------------------------>
  <div class="container department-detailed-section padding-small">
    <div class="row">
      <div
        class="banner-content blog-content col-lg-7 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1"
      >
        <div class="banner-content--wrapper">
          <h3 class="banner-title">Department Details.</h3>
          <p>
            No matter where you are or how busy your life gets, you can talk to
            one of our many friendly and knowledgable doctors online at a time
            that works with your schedule.
          </p>
          <p>
            Day dry face darkness were divide whose replenish won't the and
            shall man deep evening days open moving evening have man great
            gathering fruit tree grass gathering us third grass made yielding
            saying earth to creepeth creepeth she'd air female appear was
            brought signs likeness thing.
          </p>
          <p>
            No matter where you are or how busy your life gets, you can talk to
            one of our many friendly and knowledgable doctors online at a time
            that works with your schedule.
          </p>
          <ul>
            <li>
              <span
                ><i class="far fa-caret-right"></i>Know how it spreads.</span
              >
              Coronavirus spreads primarily through person-to-person contact,
              even from people who aren't showing these symptoms.
            </li>
            <li>
              <span
                ><i class="far fa-caret-right"></i>Wash your hands often.</span
              >
              Using soap, wash your hands for at least 20 seconds frequently
              throughout the day.
            </li>
            <li>
              <span
                ><i class="far fa-caret-right"></i>Avoid close contact with
                people who are sick.</span
              >
              Keep sick family members apart from anybody else.
            </li>
            <li>
              <span
                ><i class="far fa-caret-right"></i>Cover coughs and
                sneezes</span
              >
              with a tissue or the crook of your elbow, then immediately wash
              your hands.
            </li>
            <li>
              <span><i class="far fa-caret-right"></i>Clean and disinfect</span>
              frequently touched surfaces in your home at least once.
            </li>
          </ul>
          <p>
            Day dry face darkness were divide whose replenish won't the and
            shall man deep evening days open moving evening have man great
            gathering fruit tree grass gathering us third grass made yielding
            saying earth to creepeth creepeth she'd air female appear was
            brought signs likeness thing.
          </p>
        </div>
      </div>
      <div
        class="col-lg-5 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 department-detailed-image"
      >
        <figure class="mb-3">
          <img
            src="/static/assets/images/banner/aside-3.jpg"
            class="img-aside"
            alt="Banner-aside"
            width="470"
            height="447"
          />
          <img
            src="/static/assets/images/demos/demo-6/puzzle/puzzle-2.png"
            class="puzzle"
            alt="Puzzle"
            width="160"
            height="217"
          />
        </figure>
        <img
          src="/static/assets/images/banner/aside-4.jpg"
          class="img-aside rounded-img w-100 mb-3 height-auto"
          alt="Banner-aside"
          width="470"
          height="447"
        />
      </div>
    </div>
  </div>
  <!------------------------------------------------
		    department detailed section - end
		    ------------------------------------------------>
  <!------------------------------------------------
		    FAQ section - start
		    ------------------------------------------------>

  <!------------------------------------------------
		    FAQ section - end
		    ------------------------------------------------>
  <!------------------------------------------------
		    Explore section - start
		    ------------------------------------------------>

  <!------------------------------------------------
		    Explore section - end
		    ------------------------------------------------>
</main>
<!------------------------------------------------
		footer - start
		------------------------------------------------>
{% include 'footer.html' %}
