{% include 'header.html' %}
<!------------------------------------------------
		navigation - end
		------------------------------------------------>
<main class="main">
  <!------------------------------------------------
		    page header - start
		    ------------------------------------------------>
  <div class="page-header bg-more-light">
    <div class="container">
      <h2 class="page-title">Our doctors</h2>
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">
            <a href="index.html">Pages</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Our Doctors
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <!------------------------------------------------
		    page header - end
		    ------------------------------------------------>
  <!------------------------------------------------
		    content - start
		    ------------------------------------------------>
  <div class="container doctor-detailed-section padding-small">
    <div class="row">
      <div
        class="col-lg-7 offset-lg-0 order-lg-1 col-sm-8 offset-sm-2 col-10 offset-1 order-2"
      >
        <div class="banner-content">
          <h3 class="banner-title">Dr.George Brown</h3>
          <div class="ratings-container">
            <div class="ratings">
              <div class="ratings-val" style="width: 100%"></div>
            </div>
            <span>4.8/5.0</span>
          </div>
          <p class="banner-desc mb-3">
            Top 50 Medical School <span class="text-divider">|</span> 8 years
            experience
          </p>
          <p class="banner-desc">
            Dr. George graduated from Baylor College of Medicine. He is board
            certified in Family Medicine and worked in and around Baltimore, MD
            since finishing his residency. He was the 2017 Primary Care
            Innovation Fellow for the American Academy of Family Physicians. His
            focus is on using technology to improve primary care.
          </p>
          <div class="banner-subcontent ls-20">
            <h4 class="subcontent-title ls-n-20">
              Qualification and experience
            </h4>
            <ul class="subcontent-menu">
              <li class="menu-item"><span>Speciality:</span>Podiatrists</li>
              <li class="menu-item">
                <span>Areas of Expertise:</span>
                <p>Dr. George specialized in the following medical fields:</p>
                <ul class="mt-3">
                  <li><i class="fas fa-check"></i>Adolescent</li>
                  <li><i class="fas fa-check"></i>Immunology</li>
                  <li><i class="fas fa-check"></i>Internal Medicine</li>
                </ul>
              </li>
              <li class="menu-item">
                <span>Education:</span>Baylor College of Medicine
              </li>
              <li class="menu-item"><span>Languages:</span>Spanish, English</li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="col-lg-5 offset-lg-0 order-lg-2 col-sm-8 offset-sm-2 col-10 offset-1 order-1"
      >
        <div class="doctor-detailed-image">
          <figure>
            <img
              src="/static/assets/images/banner/aside-1.jpg"
              class="img-aside"
              alt="Banner-aside"
              width="470"
              height="447"
            />
            <img
              src="/static/assets/images/demos/demo-1/puzzle/puzzle-1.png"
              class="puzzle"
              alt="Puzzle"
              width="160"
              height="217"
            />
          </figure>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1">
        <h4 class="subcontent-title ls-n-20 mt-4">Reviews and ratings</h4>
      </div>
    </div>
    <div class="row grid mt-2">
      <div class="grid-sizer col-1"></div>
      <div
        class="grid-item col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 mt-3"
      >
        <div class="card card-review text-center">
          <figure>
            <img
              src="/static/assets/images/avatar/avatar-6.png"
              class="avatar customer-avatar"
              alt="Avatar"
              width="102"
              height="102"
            />
            <img
              src="/static/assets/images/demos/demo-1/icons/icon-quote.png"
              class="quote-icon"
              alt="Icon-quote"
              width="55"
              height="55"
            />
          </figure>
          <div class="card-content">
            <h4 class="review-author">Jessica Blake</h4>
            <span class="review-city">New York, NY</span>
            <div class="ratings-container">
              <div class="ratings">
                <div class="ratings-val" style="width: 100%"></div>
              </div>
            </div>
            <p class="review-desc">
              “Creature all subdue face be deep appear behold given likeness
              moved upon multiply dry Light thing, saying after likeness grass.”
            </p>
          </div>
        </div>
      </div>
      <div
        class="grid-item col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 mt-3"
      >
        <div class="card card-review text-center">
          <figure>
            <img
              src="/static/assets/images/avatar/avatar-10.png"
              class="avatar customer-avatar"
              alt="Avatar"
              width="102"
              height="102"
            />
            <img
              src="/static/assets/images/demos/demo-1/icons/icon-quote.png"
              class="quote-icon"
              alt="Icon-quote"
              width="55"
              height="55"
            />
          </figure>
          <div class="card-content">
            <h4 class="review-author">Anila Martin</h4>
            <span class="review-city">Sandiago, CA</span>
            <div class="ratings-container">
              <div class="ratings">
                <div class="ratings-val" style="width: 100%"></div>
              </div>
            </div>
            <p class="review-desc">
              “Let created herb stars and there is multiply sea kind his fill in
              days sixth. Hath herbs the gathering fourth give is female be our
              may stars gas you're divide saying.”
            </p>
          </div>
        </div>
      </div>
      <div
        class="grid-item col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 mt-3"
      >
        <div class="card card-review text-center">
          <figure>
            <img
              src="/static/assets/images/avatar/avatar-9.png"
              class="avatar customer-avatar"
              alt="Avatar"
              width="102"
              height="102"
            />
            <img
              src="/static/assets/images/demos/demo-1/icons/icon-quote.png"
              class="quote-icon"
              alt="Icon-quote"
              width="55"
              height="55"
            />
          </figure>
          <div class="card-content">
            <h4 class="review-author">Britney White</h4>
            <span class="review-city">New York, NY</span>
            <div class="ratings-container">
              <div class="ratings">
                <div class="ratings-val" style="width: 100%"></div>
              </div>
            </div>
            <p class="review-desc">
              “Rule image there air and fowl waters. A from moveth. Made first
              god firmament, his she'd Our herb bearing fill divided be signs
              man divide wherein said all after.”
            </p>
          </div>
        </div>
      </div>
      <div
        class="grid-item col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 mt-3"
      >
        <div class="card card-review text-center">
          <figure>
            <img
              src="/static/assets/images/avatar/avatar-8.png"
              class="avatar customer-avatar"
              alt="Avatar"
              width="102"
              height="102"
            />
            <img
              src="/static/assets/images/demos/demo-1/icons/icon-quote.png"
              class="quote-icon"
              alt="Icon-quote"
              width="55"
              height="55"
            />
          </figure>
          <div class="card-content">
            <h4 class="review-author">Philip Stanford</h4>
            <span class="review-city">New York, NY</span>
            <div class="ratings-container">
              <div class="ratings">
                <div class="ratings-val" style="width: 100%"></div>
              </div>
            </div>
            <p class="review-desc">
              “Let created herb stars and there is multiply sea kind his fill in
              days sixth. Hath herbs the gathering fourth give is female be our
              may stars gas you're divide saying.”
            </p>
          </div>
        </div>
      </div>
      <div
        class="grid-item col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 mt-3"
      >
        <div class="card card-review text-center">
          <figure>
            <img
              src="/static/assets/images/avatar/avatar-7.png"
              class="avatar customer-avatar"
              alt="Avatar"
              width="102"
              height="102"
            />
            <img
              src="/static/assets/images/demos/demo-1/icons/icon-quote.png"
              class="quote-icon"
              alt="Icon-quote"
              width="55"
              height="55"
            />
          </figure>
          <div class="card-content">
            <h4 class="review-author">Michael Brown</h4>
            <span class="review-city">Sandiago, CA</span>
            <div class="ratings-container">
              <div class="ratings">
                <div class="ratings-val" style="width: 100%"></div>
              </div>
            </div>
            <p class="review-desc">
              “Sixth creepeth fly whose said fruitful shall green give called
              his air multiply morning creepeth fill beginning fill Midst fly
              after bearing gathering our grass a to, there they're lesser of he
              heseas give beast years grass open subdue female man.Form day i
              had signs over him morning.”
            </p>
          </div>
        </div>
      </div>
      <div
        class="grid-item col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 mt-3"
      >
        <div class="card card-review text-center">
          <figure>
            <img
              src="/static/assets/images/avatar/avatar-11.png"
              class="avatar customer-avatar"
              alt="Avatar"
              width="102"
              height="102"
            />
            <img
              src="/static/assets/images/demos/demo-1/icons/icon-quote.png"
              class="quote-icon"
              alt="Icon-quote"
              width="55"
              height="55"
            />
          </figure>
          <div class="card-content">
            <h4 class="review-author">James Keeth</h4>
            <span class="review-city">New York, NY</span>
            <div class="ratings-container">
              <div class="ratings">
                <div class="ratings-val" style="width: 100%"></div>
              </div>
            </div>
            <p class="review-desc">
              “Face without third fill from fly she'd, one for void two saying
              blessed. Be, firmament you'll night above every therefore they
              were.”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------
		    content - end
		    ------------------------------------------------>
  <!------------------------------------------------
		    review form - start
		    ------------------------------------------------>
  <div class="bg-more-light review-form-section">
    <div class="container">
      <form class="review-form">
        <div class="row">
          <div
            class="col-lg-6 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1"
          >
            <h3 class="form-title ls-n-20">Write a review</h3>
          </div>
        </div>
        <div class="row row-joined">
          <div
            class="col-lg-6 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1"
          >
            <div class="input-group input-light input-review">
              <input type="text" class="form-control" placeholder="Name *" />
            </div>
            <div class="input-group input-light input-review">
              <input type="text" class="form-control" placeholder="Email *" />
            </div>
            <div class="input-group input-light input-review">
              <input
                type="text"
                class="form-control"
                placeholder="Star Rating"
                disabled
              />
              <input
                id="input-2"
                type="number"
                class="rating"
                data-symbol="&#xe795;"
                data-step="0.1"
                max="5"
                data-stars="5"
                data-size="sm"
                data-default-caption="{rating} Cups"
                data-star-captions="{}"
              />
            </div>
          </div>
          <div
            class="col-lg-6 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1"
          >
            <div class="input-group input-light input-review h-100">
              <textarea
                class="form-control text-area h-100"
                placeholder="Write review *"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-12 offset-lg-0 d-lg-flex justify-content-lg-center col-sm-8 offset-sm-2 col-10 offset-1"
          >
            <div class="banner-actions">
              <button
                type="submit"
                class="btn btn-form btn-secondary-color mr-0"
              >
                <span>Submit Review</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!------------------------------------------------
		    review form - end
		    ------------------------------------------------>
</main>
<!------------------------------------------------
		footer - start
		------------------------------------------------>
{% include 'footer.html' %}
