{% include 'header.html' %}
      <!------------------------------------------------
		navigation - end
		------------------------------------------------>
      <main class="main">
        <!------------------------------------------------
		    page header - start
		    ------------------------------------------------>
        <div class="page-header bg-more-light">
          <div class="container">
            <h2 class="page-title">Our doctors</h2>
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-7.html">Home</a></li>
                <li class="breadcrumb-item active">
                  <a href="index.html">Pages</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Our Doctors
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <!------------------------------------------------
		    page header - end
		    ------------------------------------------------>
        <!------------------------------------------------
		    doctor list - start
		    ------------------------------------------------>
        <div class="container doctor-list-section">
          <div class="row">
            <div
              class="col-lg-12 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1"
            >
              <h2 class="ls-n-20 text-center section-heading mb-3">
                Meet our expert and qualified doctors.
              </h2>
              <div class="filter-form mb-2">
                <a
                  href="#"
                  class="btn btn-form grid-filter-item filter-clear ls-20"
                  data-filter="*"
                >
                  <span>All Doctors</span>
                </a>
                <div class="input-group input-light">
                  <div class="form-control select-control">
                    Other select<i class="far fa-angle-down"></i>
                  </div>
                  <ul class="option-menu grid-filter" data-container="#doctors">
                    <li
                      class="option-list grid-filter-item"
                      data-filter=".pf-anesthesiologist"
                    >
                      <span class="option"
                        ><i class="far fa-caret-right"></i
                        >Anesthesiologist</span
                      >
                    </li>
                    <li
                      class="option-list grid-filter-item"
                      data-filter=".pf-internists"
                    >
                      <span class="option"
                        ><i class="far fa-caret-right"></i>Internists</span
                      >
                    </li>
                  
                    <li
                      class="option-list grid-filter-item"
                      data-filter=".pf-pathologists"
                    >
                      <span class="option"
                        ><i class="far fa-caret-right"></i>Pathologists</span
                      >
                    </li>
                   
                    <li
                      class="option-list grid-filter-item"
                      data-filter=".pf-podiatrists"
                    >
                      <span class="option"
                        ><i class="far fa-caret-right"></i>Podiatrists</span
                      >
                    </li>
                    <li
                      class="option-list grid-filter-item"
                      data-filter=".pf-radiologists"
                    >
                      <span class="option"
                        ><i class="far fa-caret-right"></i>Radiologists</span
                      >
                    </li>
                    <li
                      class="option-list grid-filter-item"
                      data-filter=".pf-general-surgeons"
                    >
                      <span class="option"
                        ><i class="far fa-caret-right"></i>General
                        Surgeons</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row grid-container" id="doctors" data-layout="fitRows">
            {% for i in docData %}
            <div
              class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 pf-anesthesiologist"
            >
              <div class="image-box doctor-card mt-3">
                <figure>
                  <a>
                    <img
                      src="/media/{{i.doc_image}}"
                      class="w-100"
                      alt="Doctor"
                      width="370"
                      height="407"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </a>
                </figure>
                <div class="box-content">
                  <h4 class="box-title">{{i.doc_title}}</h4>
                  <p class="doctor-cat">{{i.doc_cat}}</p>
                  <p class="box-desc">
                    {{i.doc_desc | safe}}
                  </p>
                  <a href="javascript:;" class="btn-toggle"
                    ><i class="fas fa-plus-circle"></i
                  ></a>
                </div>
              </div>
            </div>
          {% endfor %}
            <!-- <div
              class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 pf-pathologists"
            >
              <div class="image-box doctor-card mt-3">
                <figure>
                  <a >
                    <img
                      src="/static/assets/images/doctors/doctor3-4.jpg"
                      class="w-100"
                      alt="Doctor"
                      width="370"
                      height="407"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </a>
                </figure>
                <div class="box-content">
                  <h4 class="box-title">Stephanie Moor</h4>
                  <p class="doctor-cat">Pathologists</p>
                  <p class="box-desc">
                    Dr. Amelia fraduated from the Universiy of Rochester School
                    of Medicine and Dentistry in 1990 and then she completed her
                    residency at Yale Unversity Medical Center.
                  </p>
                  <a href="javascript:;" class="btn-toggle"
                    ><i class="fas fa-plus-circle"></i
                  ></a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 pf-podiatrists"
            >
              <div class="image-box doctor-card mt-3">
                <figure>
                  <a>
                    <img
                      src="/static/assets/images/doctors/doctor3-7.jpg"
                      class="w-100"
                      alt="Doctor"
                      width="370"
                      height="407"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </a>
                </figure>
                <div class="box-content">
                  <h4 class="box-title">George Brown</h4>
                  <p class="doctor-cat">Podiatrists</p>
                  <p class="box-desc">
                    Dr. Amelia fraduated from the Universiy of Rochester School
                    of Medicine and Dentistry in 1990 and then she completed her
                    residency at Yale Unversity Medical Center.
                  </p>
                  <a href="javascript:;" class="btn-toggle"
                    ><i class="fas fa-plus-circle"></i
                  ></a>
                </div>
              </div>
            </div> -->

            <!--This is after 3 cards-->
            <!-- <div
              class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 pf-internists"
            >
              <div class="image-box doctor-card mt-3">
                <figure>
                  <a>
                    <img
                      src="/static/assets/images/doctors/doctor3-6.jpg"
                      class="w-100"
                      alt="Doctor"
                      width="370"
                      height="407"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </a>
                </figure>
                <div class="box-content">
                  <h4 class="box-title">Amelia Cameron</h4>
                  <p class="doctor-cat">Internists</p>
                  <p class="box-desc">
                    Dr. Amelia fraduated from the Universiy of Rochester School
                    of Medicine and Dentistry in 1990 and then she completed her
                    residency at Yale Unversity Medical Center.
                  </p>
                  <a href="javascript:;" class="btn-toggle"
                    ><i class="fas fa-plus-circle"></i
                  ></a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 pf-ophthalmologists"
            >
              <div class="image-box doctor-card mt-3">
                <figure>
                  <a>
                    <img
                      src="/static/assets/images/doctors/doctor3-5.jpg"
                      class="w-100"
                      alt="Doctor"
                      width="370"
                      height="407"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </a>
                </figure>
                <div class="box-content">
                  <h4 class="box-title">Donald Quinch</h4>
                  <p class="doctor-cat">Ophthalmologists</p>
                  <p class="box-desc">
                    Dr. Amelia fraduated from the Universiy of Rochester School
                    of Medicine and Dentistry in 1990 and then she completed her
                    residency at Yale Unversity Medical Center.
                  </p>
                  <a href="javascript:;" class="btn-toggle"
                    ><i class="fas fa-plus-circle"></i
                  ></a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 pf-radiologists"
            >
              <div class="image-box doctor-card mt-3">
                <figure>
                  <a >
                    <img
                      src="/static/assets/images/doctors/doctor3-8.jpg"
                      class="w-100"
                      alt="Doctor"
                      width="370"
                      height="407"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </a>
                </figure>
                <div class="box-content">
                  <h4 class="box-title">Natalie Philips</h4>
                  <p class="doctor-cat">Radiologists</p>
                  <p class="box-desc">
                    Dr. Amelia fraduated from the Universiy of Rochester School
                    of Medicine and Dentistry in 1990 and then she completed her
                    residency at Yale Unversity Medical Center.
                  </p>
                  <a href="javascript:;" class="btn-toggle"
                    ><i class="fas fa-plus-circle"></i
                  ></a>
                </div>
              </div>
            </div> -->
            <!-- <div
              class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 pf-nephrologists"
            >
              <div class="image-box doctor-card mt-3">
                <figure>
                  <a >
                    <img
                      src="/static/assets/images/doctors/doctor3-3.jpg"
                      class="w-100"
                      alt="Doctor"
                      width="370"
                      height="407"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </a>
                </figure>
                <div class="box-content">
                  <h4 class="box-title">William Bowling</h4>
                  <p class="doctor-cat">Nephrologists</p>
                  <p class="box-desc">
                    Dr. Amelia fraduated from the Universiy of Rochester School
                    of Medicine and Dentistry in 1990 and then she completed her
                    residency at Yale Unversity Medical Center.
                  </p>
                  <a href="javascript:;" class="btn-toggle"
                    ><i class="fas fa-plus-circle"></i
                  ></a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 pf-oncologists"
            >
              <div class="image-box doctor-card mt-3">
                <figure>
                  <a >
                    <img
                      src="/static/assets/images/doctors/doctor3-2.jpg"
                      class="w-100"
                      alt="Doctor"
                      width="370"
                      height="407"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </a>
                </figure>
                <div class="box-content">
                  <h4 class="box-title">Britney Adams</h4>
                  <p class="doctor-cat">Oncologists</p>
                  <p class="box-desc">
                    Dr. Amelia fraduated from the Universiy of Rochester School
                    of Medicine and Dentistry in 1990 and then she completed her
                    residency at Yale Unversity Medical Center.
                  </p>
                  <a href="javascript:;" class="btn-toggle"
                    ><i class="fas fa-plus-circle"></i
                  ></a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 pf-general-surgeons"
            >
              <div class="image-box doctor-card mt-3">
                <figure>
                  <a >
                    <img
                      src="/static/assets/images/doctors/doctor3-9.jpg"
                      class="w-100"
                      alt="Doctor"
                      width="370"
                      height="407"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </a>
                </figure>
                <div class="box-content">
                  <h4 class="box-title">Richard Dante</h4>
                  <p class="doctor-cat">General Surgeons</p>
                  <p class="box-desc">
                    Dr. Amelia fraduated from the Universiy of Rochester School
                    of Medicine and Dentistry in 1990 and then she completed her
                    residency at Yale Unversity Medical Center.
                  </p>
                  <a href="javascript:;" class="btn-toggle"
                    ><i class="fas fa-plus-circle"></i
                  ></a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      
        </div>
      </main>
      <!------------------------------------------------
		footer - start
		------------------------------------------------>
      <footer class="footer bg-primary-color">
        <div class="container">
          <div class="footer-top">
            <div class="row d-flex align-items-center justify-content-center">
              <div class="col-lg-6 col-sm-7 col-10">
               
              </div>
              <div
                class="col-lg-6 col-sm-7 col-10 d-lg-flex justify-content-lg-end"
              >
                <div class="social-links">
                  <a href="#" class="social-link"
                    ><i class="fab fa-twitter"></i><span>Twitter</span></a
                  >
                  <a href="#" class="social-link"
                    ><i class="fab fa-facebook"></i><span>Facebook</span></a
                  >
                  <a href="#" class="social-link"
                    ><i class="fab fa-youtube"></i><span>Youtube</span></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="footer-middle">
            <div class="container">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-3 col-sm-7 col-10">
                  <div class="info-box">
                    <h6 class="info-title">Company</h6>
                    <ul class="info-list">
                      <li><a href="#" class="info-link">About</a></li>
                      <li><a href="#" class="info-link">Our Doctors</a></li>
                      <li><a href="#" class="info-link">Latest Blog</a></li>
                      <li><a href="#" class="info-link">Careers</a></li>
                      <li><a href="#" class="info-link">Contact</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-7 col-10">
                  <div class="info-box">
                    <h6 class="info-title">Support</h6>
                    <ul class="info-list">
                      <li><a href="#" class="info-link">Reviews</a></li>
                      <li><a href="#" class="info-link">FAQs</a></li>
                      <li><a href="#" class="info-link">Help Center</a></li>
                      <li><a href="#" class="info-link">Doctors</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-7 col-10">
                  <div class="info-box">
                    <h6 class="info-title">Legal</h6>
                    <ul class="info-list">
                      <li><a href="#" class="info-link">Term of use</a></li>
                      <li><a href="#" class="info-link">Code of Conduct</a></li>
                      <li><a href="#" class="info-link">Privacy Policy</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-7 col-10">
                  <div class="info-box">
                    <h6 class="info-title">Company</h6>
                    <form class="input-group input-footer">
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Email address"
                        required
                      />
                      <button type="submit" class="form-action">
                        <i class="fas fa-check-circle"></i>
                      </button>
                    </form>
                    <p>Unsubscribe anytime.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-12 col-sm-7 col-10">
                <p>© GFXPARTNER</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!------------------------------------------------
		footer - end
		------------------------------------------------>
    </div>

    <button id="scroll-top" title="Back to Top">
      <i class="fal fa-angle-up"></i>
    </button>

    <div class="mobile-menu-overlay"></div>

    <div class="mobile-menu-container mobile-menu-light">
      <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="fal fa-times"></i></span>

        <form class="input-group input-light input-search" action="#">
          <input
            type="text"
            class="form-control search-control"
            placeholder="search"
            required
          />
          <button type="submit" class="btn-search">
            <i class="fas fa-search"></i>
          </button>
        </form>

        <nav class="mobile-nav mt-5">
          <ul class="mobile-menu">
            <li>
              <a href="#" class="sf-with-ul">Home Pages</a>

              <ul>
                <li><a href="index.html">Home 1</a></li>
                <li><a href="index-2.html">Home 2</a></li>
                <li><a href="index-3.html">Home 3</a></li>
                <li><a href="index-4.html">Home 4</a></li>
                <li><a href="index-5.html">Home 5</a></li>
                <li><a href="index-6.html">Home 6</a></li>
                <li><a href="index-7.html">Home 7</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="sf-with-ul">Standard Pages</a>
              <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="doctors.html">Our Doctors</a></li>
                <li><a href="doctors-detailed.html">Doctor (Detailed)</a></li>
                <li><a href="departments-1.html">Departments (Style 01)</a></li>
                <li><a href="departments-2.html">Departments (Style 02)</a></li>
                <li>
                  <a href="departments-detailed.html">Departments (Detailed)</a>
                </li>
                <li><a href="treatments.html">Treatments</a></li>
                <li><a href="how-it-works.html">How it Works</a></li>
                <li><a href="help.html">Help</a></li>
                <li><a href="help-questions.html">Help Questions</a></li>
                <li><a href="membership.html">Membership</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="contact-us.html">Contact</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="sf-with-ul">Blog Pages</a>
              <ul>
                <li><a href="blog-masonry.html">Blog Masonry</a></li>
                <li>
                  <a href="blog-right-sidebar.html"
                    >Blog Masonry (Right Sidebar)</a
                  >
                </li>
                <li>
                  <a href="blog-left-sidebar.html"
                    >Blog Masonry (Left Sidebar)</a
                  >
                </li>
                <li><a href="blog-detailed.html">Blog Detailed</a></li>
                <li>
                  <a href="blog-detailed-sidebar.html">Blog Detailed Sidebar</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="sf-with-ul">Appointments</a>
              <ul>
                <li>
                  <a href="appointment-step1.html">Appointment (Step01)</a>
                </li>
                <li>
                  <a href="appointment-step2.html">Appointment (Step02)</a>
                </li>
                <li>
                  <a href="appointment-step3.html">Appointment (Step03)</a>
                </li>
                <li>
                  <a href="appointment-step4.html">Appointment (Step04)</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="sf-with-ul">Login Pages</a>
              <ul>
                <li><a href="login.html">Signin</a></li>
                <li><a href="signup.html">Signup</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- End .mobile-nav -->

        <div class="social-icons mt-6">
          <a href="#" class="social-icon" target="_blank" title="Twitter"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Facebook"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Youtube"
            ><i class="fab fa-youtube"></i
          ></a>
        </div>
        <!-- End .social-icons -->

        <div class="mobile-actions">
          <a
            href="appointment-step1.html"
            class="btn btn-secondary-color btn-xs"
            >Book Appointment</a
          >
          <a href="login.html" class="btn btn-xs">Signin</a>
        </div>
        <!-- End .mobile-actions -->
      </div>
      <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->

    <!-- Plugins JS File -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/jquery.waypoints.min.js"></script>
    <script src="/static/assets/js/plugins/owl.carousel.min.js"></script>
    <script src="/static/assets/js/plugins/datepicker.min.js"></script>
    <script src="/static/assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="/static/assets/js/plugins/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="/static/assets/js/main.min.js"></script>

    <!-- Isotope Filter -->
    <script>
      var $container = null;

      jQuery(window).on("load", function () {
        $container = $("#doctors");

        $container.isotope({ transitionDuration: "0.65s" });

        $(".grid-filter-item").click(function () {
          $(".grid-filter-item").removeClass("activeFilter");
          $(this).addClass("activeFilter");
          var selector = $(this).attr("data-filter");
          $container.isotope({ filter: selector });
          return false;
        });

        $(window).resize(function () {
          $container.isotope("layout");
        });
      });
    </script>
  </body>
</html>
