{% include 'header.html' %}
<!------------------------------------------------
		navigation - end
		------------------------------------------------>
<main class="main">
  <!------------------------------------------------
			page header - start
			------------------------------------------------>
  <div class="page-header bg-more-light">
    <div class="container">
      <h2 class="page-title">Get help</h2>
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index-7.html">Home</a></li>
          <li class="breadcrumb-item active">
            <a href="index.html">Pages</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Help</li>
        </ol>
      </nav>
    </div>
  </div>
  <!------------------------------------------------
			page header - end
			------------------------------------------------>
  <!------------------------------------------------
			article section - start
			------------------------------------------------>
  <div class="container article-section padding-small">
    <div class="row">
      <div class="col-lg-8 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1">
        <h3 class="sub-title ls-n-20 line-height-1">All articles.</h3>
        <div class="row">
          <div class="col-lg-6">
            <div class="article">
              <h5 class="article-title">General</h5>
              <p class="article-question">How much does your service cost?</p>
              <p class="article-question">Do you accept insurance?</p>
              <p class="article-question">
                Can I share my visit notes with my PCP?
              </p>
              <div class="btn-link">
                <a href="help-questions.html">View All (13)</a
                ><i class="far fa-caret-right"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="article">
              <h5 class="article-title">Doctor Visits</h5>
              <p class="article-question">
                Can your physicians prescribe medication?
              </p>
              <p class="article-question">
                Can medical forms, such as work/school...
              </p>
              <p class="article-question">
                What happens if my medical visit goes over 15...
              </p>
              <div class="btn-link">
                <a href="help-questions.html">View All (17)</a
                ><i class="far fa-caret-right"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="article">
              <h5 class="article-title">Payment & Billing</h5>
              <p class="article-question">
                What payment methods do you accept?
              </p>
              <p class="article-question">
                Why doesn't my promotion code/coupon work?
              </p>
              <p class="article-question">
                Is my credit card information secure?
              </p>
              <div class="btn-link">
                <a href="help-questions.html">View All (9)</a
                ><i class="far fa-caret-right"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="article">
              <h5 class="article-title">Prescription & Pharmacy</h5>
              <p class="article-question">
                How do I get a refill of a prescription provided?
              </p>
              <p class="article-question">
                How do I transfer my prescription to a ...
              </p>
              <p class="article-question">
                How do I change my pharmacy with CareMed?
              </p>
              <div class="btn-link">
                <a href="help-questions.html">View All (8)</a
                ><i class="far fa-caret-right"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="article">
              <h5 class="article-title">MedCare Labs</h5>
              <p class="article-question">
                What payment methods do you accept?
              </p>
              <p class="article-question">
                Why doesn't my promotion code/coupon work?
              </p>
              <p class="article-question">
                Is my credit card information secure?
              </p>
              <div class="btn-link">
                <a href="help-questions.html">View All (4)</a
                ><i class="far fa-caret-right"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="article">
              <h5 class="article-title">Synapse</h5>
              <p class="article-question">What is Synapse?</p>
              <p class="article-question">What is the cost for Synapse?</p>
              <p class="article-question">
                Can I use Synapse with my insurance?
              </p>
              <div class="btn-link">
                <a href="help-questions.html">View All (8)</a
                ><i class="far fa-caret-right"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="article">
              <h5 class="article-title">My account</h5>
              <p class="article-question">
                How do I set up an account for my child?
              </p>
              <p class="article-question">
                How do I update/edit my personal information?
              </p>
              <p class="article-question">
                Can I have multiple accounts on the same...
              </p>
              <div class="btn-link">
                <a href="help-questions.html">View All (6)</a
                ><i class="far fa-caret-right"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="article">
              <h5 class="article-title">Mental Health</h5>
              <p class="article-question">
                Can a psychiatrist prescibe medication?
              </p>
              <p class="article-question">Can you treat mental illness?</p>
              <p class="article-question">
                Can you providers issue an emotional support...
              </p>
              <div class="btn-link">
                <a href="help-questions.html">View All (8)</a
                ><i class="far fa-caret-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1">
        <div class="side-bar">
          <form class="input-group input-light input-search" action="#">
            <input
              type="text"
              class="form-control search-control"
              placeholder="search"
              required
            />
            <button type="submit" class="btn-search">
              <i class="fas fa-search"></i>
            </button>
          </form>
          <!-- 
                                background image is added through css and can be modified in the _sections.scss file
                                the image is added to the .bg-section-21 class.
                            -->
          <div
            class="sidebar-box banner-sidebar bg-section bg-section-21 text-center"
          >
            <h3 class="banner-title ls-n-20">
              Quality care that treats everyone.
            </h3>
            <p class="banner-desc">
              Our skilled doctors have tremendous experience with wide range of
              diseases.
            </p>
            <div class="foreground-img">
              <img
                src="/static/assets/images/demos/demo-1/banner/banner-big-2-fore.png"
                alt="image"
              />
            </div>
            <a
              href="appointment-step1.html"
              class="btn btn-secondary-color btn-form"
            >
              <span>Book Appointment</span>
            </a>
          </div>
          <div class="sidebar-box bg-primary-color">
            <h4 class="box-title">Subscribe</h4>
            <div class="box-content mt-3 mb-0">
              <form action="#">
                <div class="input-group input-dark">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email address"
                  />
                </div>
                <button
                  type="submit"
                  class="btn btn-secondary-color btn-secondary-color-1 btn-form mt-1"
                >
                  <span>Subscribe</span>
                </button>
              </form>
              <p class="box-info text-center mt-3 mb-0">Unsubscribe anytime.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------
			article section - end
			------------------------------------------------>
</main>
<!------------------------------------------------
		footer - start
		------------------------------------------------>
{% include 'footer.html' %}
