{% include 'header.html' %}
<!------------------------------------------------
		navigation - end
		------------------------------------------------>
<main class="main">
  <!------------------------------------------------
		    page header - start
		    ------------------------------------------------>
  <div class="page-header bg-more-light">
    <div class="container">
      <h2 class="page-title">How it works</h2>
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">
            <a href="index.html">Pages</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            How It Works
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <!------------------------------------------------
		    page header - end
		    ------------------------------------------------>
  <!------------------------------------------------
			step section - start
			------------------------------------------------>
  <div class="container step-section">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12 col-md-8 col-sm-8 col-10">
        <h2 class="ls-n-20 text-center section-heading">
          We have made your care easy for you.
        </h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div
        class="banner-aside align-items-lg-start d-md-flex col-lg-12 col-md-8 col-sm-8 col-10"
      >
        <figure class="mr-xl-10 mr-lg-5 mr-0">
          <img
            src="/static/assets/images/demos/demo-2/banner/aside-1.png"
            class="img-aside"
            alt="Banner-aside"
            width="470"
            height="447"
          />
          <img
            src="/static/assets/images/demos/demo-2/puzzle/puzzle-1.png"
            class="puzzle"
            alt="Puzzle"
            width="160"
            height="217"
          />
        </figure>
        <div class="banner-content">
          <p class="banner-subtitle">Step 1</p>
          <h3 class="banner-title">
            Book an appointment at a time that suits you.
          </h3>
          <p class="banner-desc">
            No matter where you are or how busy your life gets, you can talk to
            one of our many friendly and knowledgable doctors online at a time
            that works with your schedule.
          </p>
          <div class="banner-actions">
            <a href="appointment-step1.html" class="btn btn-secondary-color">
              <span>Book an Appointment</span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="banner-aside banner-aside-switch align-items-lg-start d-md-flex img-right figure-over col-lg-12 col-md-8 col-sm-8 col-10"
      >
        <figure>
          <img
            src="/static/assets/images/demos/demo-2/banner/aside-2.png"
            class="img-aside"
            alt="Banner-aside"
            width="470"
            height="447"
          />
          <img
            src="/static/assets/images/demos/demo-2/puzzle/puzzle-2.png"
            class="puzzle"
            alt="Puzzle"
            width="160"
            height="217"
          />
        </figure>
        <div class="banner-content">
          <p class="banner-subtitle">Step 2</p>
          <h3 class="banner-title">
            Use our app to talk to one of our doctors now.
          </h3>
          <p class="banner-desc">
            No matter where you are or how busy your life gets, you can talk to
            one of our many friendly and knowledgable doctors online at a time
            that works with your schedule.
          </p>
          <div class="banner-actions">
            <a href="appointment-step1.html" class="btn btn-secondary-color">
              <span>Download the App</span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="banner-aside align-items-lg-start d-md-flex figure-over col-lg-12 col-md-8 col-sm-8 col-10"
      >
        <figure class="mr-xl-10 mr-lg-5 mr-0">
          <img
            src="/static/assets/images/demos/demo-2/banner/aside-3.png"
            class="img-aside"
            alt="Banner-aside"
            width="470"
            height="447"
          />
          <img
            src="/static/assets/images/demos/demo-2/puzzle/puzzle-3.png"
            class="puzzle"
            alt="Puzzle"
            width="160"
            height="217"
          />
        </figure>
        <div class="banner-content">
          <p class="banner-subtitle">Step 3</p>
          <h3 class="banner-title">
            Pick up prescription from your local pharmacy
          </h3>
          <p class="banner-desc">
            No matter where you are or how busy your life gets, you can talk to
            one of our many friendly and knowledgable doctors online at a time
            that works with your schedule.
          </p>
          <div class="banner-actions">
            <a href="appointment-step1.html" class="btn btn-secondary-color">
              <span>Book an Appointment</span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="banner-aside banner-aside-switch align-items-lg-start d-md-flex img-right figure-over col-lg-12 col-md-8 col-sm-8 col-10"
      >
        <figure>
          <img
            src="/static/assets/images/demos/demo-2/banner/aside-4.png"
            class="img-aside"
            alt="Banner-aside"
            width="470"
            height="447"
          />
          <img
            src="/static/assets/images/demos/demo-2/puzzle/puzzle-4.png"
            class="puzzle"
            alt="Puzzle"
            width="160"
            height="217"
          />
        </figure>
        <div class="banner-content">
          <p class="banner-subtitle">Step 4</p>
          <h3 class="banner-title">
            Chat with your care team anytime you need to.
          </h3>
          <p class="banner-desc">
            No matter where you are or how busy your life gets, you can talk to
            one of our many friendly and knowledgable doctors online at a time
            that works with your schedule.
          </p>
          <div class="banner-actions">
            <a href="appointment-step1.html" class="btn btn-secondary-color">
              <span>Download the App</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------
			step section - end
			------------------------------------------------>
  <!------------------------------------------------
            explore section - start
			------------------------------------------------>
  <!--<div class="bg-light-color explore-section">
          <div class="container">
            <h2 class="ls-n-20 text-center section-heading">
              More to explore.
            </h2>
            <div class="explore-section-row">
              <div class="image-box explore-card text-center">
                <a href="appointment-step1.html">
                  <figure>
                    <img
                      src="assets/images/banner/explore-1.jpg"
                      class="w-100"
                      alt="Blog"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </figure>
                  <div class="box-content">
                    <h4 class="box-title">Book an<br />appointment</h4>
                  </div>
                </a>
              </div>
              <div class="image-box explore-card text-center">
                <a href="how-it-works.html">
                  <figure>
                    <img
                      src="assets/images/banner/explore-2.jpg"
                      class="w-100"
                      alt="Blog"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </figure>
                  <div class="box-content">
                    <h4 class="box-title">How does<br />it work?</h4>
                  </div>
                </a>
              </div>
              <div class="image-box explore-card text-center">
                <a href="treatments.html">
                  <figure>
                    <img
                      src="assets/images/banner/explore-3.jpg"
                      class="w-100"
                      alt="Blog"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </figure>
                  <div class="box-content">
                    <h4 class="box-title">What we<br />treat</h4>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>-->
  <!------------------------------------------------
            explore section - end
			------------------------------------------------>
</main>
<!------------------------------------------------
		footer - start
		------------------------------------------------>
{% include 'footer.html' %}
