{% include "header.html" %}
<!------------------------------------------------
		navigation - end
		------------------------------------------------>
<main class="main">
  <!------------------------------------------------
		    page header - start
		    ------------------------------------------------>
  <div class="page-header bg-more-light">
    <div class="container">
      <h2 class="page-title">Membership</h2>
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">
            <a href="index.html">Pages</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Membership</li>
        </ol>
      </nav>
    </div>
  </div>
  <!------------------------------------------------
		    page header - end
		    ------------------------------------------------>
  <!------------------------------------------------
		    contact details - start
		    ------------------------------------------------>
  <div
    class="container contact-detail-section contact-detail-section-1 padding-small"
  >
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12 col-sm-8 col-10">
        <h2 class="ls-n-20 text-center section-heading">
          We are here to help you.
        </h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 col-sm-8 col-10">
        <div class="icon-box icon-box-simple">
          <figure>
            <i class="fal fa-comments"></i>
          </figure>
          <div class="icon-box-content text-center">
            <h4 class="box-title mb-3">Unlimited in-app messaging</h4>
            <p class="box-desc ls-0">
              Message your care team to get <br />the support you need before,
              after, or between visits.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-8 col-10">
        <div class="icon-box icon-box-simple">
          <figure>
            <i class="fal fa-headset"></i>
          </figure>
          <div class="icon-box-content text-center">
            <h4 class="box-title mb-3">Online support team that cares</h4>
            <p class="box-desc ls-0">
              From building questions to specialist referrals, our care team
              will help guide you every step of the way.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-8 col-10">
        <div class="icon-box icon-box-simple">
          <figure>
            <i class="fal fa-calendar-alt"></i>
          </figure>
          <div class="icon-box-content text-center">
            <h4 class="box-title mb-3">Online same day appointment booking</h4>
            <p class="box-desc ls-0">
              No more doctor's office waiting<br />
              room. Access great care whenever you need it.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------
		    contact details - end
		    ------------------------------------------------>
  <!------------------------------------------------
			type section - start
			------------------------------------------------>
  <!-- 
				background image is added through css and can be modified in the _sections.scss file
				the image is added to the .bg-section-4 class.
			-->
  <div class="bg-section bg-section-4 type-section type-section-2">
    <div class="container-wrapper">
      <div class="container">
        <div class="banner-content">
          <div class="row">
            <div
              class="col-lg-12 offset-lg-0 col-md-8 col-sm-8 offset-sm-2 col-10 offset-1"
            >
              <div class="banner-content-wrapper">
                <h2 class="banner-title">
                  The mission of quality & our core values.
                </h2>
                <p class="banner-info">
                  Our mission it to improve the world’s health through
                  compassionate and afforable care through innovation.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col-lg-4 offset-lg-0 col-md-8 col-sm-8 offset-sm-2 col-10 offset-1"
            >
              <div class="icon-box icon-box-left">
                <figure>
                  <i class="fal fa-wheelchair"></i>
                </figure>
                <div class="icon-box-content">
                  <h4 class="box-title">Put the patient first</h4>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 offset-lg-0 col-md-8 col-sm-8 offset-sm-2 col-10 offset-1"
            >
              <div class="icon-box icon-box-left">
                <figure>
                  <i class="fal fa-user-nurse"></i>
                </figure>
                <div class="icon-box-content">
                  <h4 class="box-title">Take personal ownership</h4>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 offset-lg-0 col-md-8 col-sm-8 offset-sm-2 col-10 offset-1"
            >
              <div class="icon-box icon-box-left">
                <figure>
                  <i class="fal fa-stethoscope"></i>
                </figure>
                <div class="icon-box-content">
                  <h4 class="box-title">Celebrate the art of medicine</h4>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 offset-lg-0 col-md-8 col-sm-8 offset-sm-2 col-10 offset-1"
            >
              <div class="icon-box icon-box-left">
                <figure>
                  <i class="fal fa-syringe"></i>
                </figure>
                <div class="icon-box-content">
                  <h4 class="box-title">Be fast, but don't hurry</h4>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 offset-lg-0 col-md-8 col-sm-8 offset-sm-2 col-10 offset-1"
            >
              <div class="icon-box icon-box-left">
                <figure>
                  <i class="fal fa-heart-circle"></i>
                </figure>
                <div class="icon-box-content">
                  <h4 class="box-title">Always work with integrity</h4>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 offset-lg-0 col-md-8 col-sm-8 offset-sm-2 col-10 offset-1"
            >
              <div class="icon-box icon-box-left">
                <figure>
                  <i class="fal fa-microscope"></i>
                </figure>
                <div class="icon-box-content">
                  <h4 class="box-title">Be inquisitive and discover</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col-lg-12 offset-lg-0 col-md-8 col-sm-8 offset-sm-2 col-10 offset-1"
            >
              <div class="banner-actions">
                <a href="appointment-step1.html" class="btn btn-primary-color">
                  <span>Book an Appointment</span>
                </a>
                <a href="how-it-works.html" class="btn">
                  <span>Learn More</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="foreground-img">
      <img
        src="/static/assets/images/demos/demo-1/banner/banner-big-2-fore.png"
        alt="image"
      />
    </div>
  </div>
  <!------------------------------------------------
			type section - end
			------------------------------------------------>
  <!------------------------------------------------
            membership section - start
			------------------------------------------------>
  <div class="container membership-section">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12 col-md-8 col-sm-8 col-10">
        <h2 class="ls-n-20 text-center section-heading">
          Membership plans that don't break the bank.
        </h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 col-md-8 col-sm-8 col-10">
        <div class="card card-membership ls-20 member-type-1">
          <div class="card-content text-center">
            <figure class="bg-secondary-color">
              <i class="fal fa-book-medical"></i>
            </figure>
            <div class="price-box">
              <p class="member-type">Uninsured</p>
              <p class="member-price ls-n-20">$39.99/mo</p>
            </div>
            <ul class="card-menu">
              <li class="menu-item">
                <i class="fas fa-check"></i>First Visit Co-pay
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Unlimited Messaging
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Online Care Team
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Same-day Booking
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Free weekly webinars
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Monthly newsletter
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Priority support
              </li>
            </ul>
            <div class="btn-link">
              <a href="membership.html">Become A Member</a
              ><i class="far fa-caret-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-5 mt-lg-0 col-md-8 col-sm-8 col-10">
        <div class="card card-membership ls-20 member-type-2">
          <div class="card-content text-center">
            <figure class="bg-primary-color">
              <i class="fal fa-hand-holding-medical"></i>
            </figure>
            <div class="price-box">
              <p class="member-type">Insured</p>
              <p class="member-price ls-n-20">$19.99/mo</p>
            </div>
            <ul class="card-menu">
              <li class="menu-item">
                <i class="fas fa-check"></i>First Visit $99
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Unlimited Messaging
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Online Care Team
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Same-day Booking
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Free weekly webinars
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Monthly newsletter
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Priority support
              </li>
            </ul>
            <div class="btn-link">
              <a href="membership.html">Become A Member</a
              ><i class="far fa-caret-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-5 mt-lg-0 col-md-8 col-sm-8 col-10">
        <div class="card card-membership ls-20 member-type-3">
          <div class="card-content text-center">
            <figure class="bg-fourth-color">
              <i class="fal fa-notes-medical"></i>
            </figure>
            <div class="price-box">
              <p class="member-type">Custom</p>
              <p class="member-price ls-n-20">$69.99/mo</p>
            </div>
            <ul class="card-menu">
              <li class="menu-item">
                <i class="fas fa-check"></i>First Visit Free
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Unlimited Messaging
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Online Care Team
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Same-day Booking
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Free weekly webinars
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Monthly newsletter
              </li>
              <li class="menu-item">
                <i class="fas fa-check"></i>Priority support
              </li>
            </ul>
            <div class="btn-link">
              <a href="membership.html">Become A Member</a
              ><i class="far fa-caret-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------
            membership section - end
			------------------------------------------------>
  <!------------------------------------------------
		    FAQ section - start
		    ------------------------------------------------>
  <div class="faq-section pt-0 padding-small">
    <div class="container">
      <h2 class="ls-n-20 text-center">FAQs</h2>
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-sm-8 offset-sm-2 col-10 offset-1">
          <div class="accordion accordion-icon" id="accordion-10">
            <div class="field">
              <div class="field-header" id="heading10-1">
                <h4 class="field-title">
                  <a
                    class="accordion-link collapsed"
                    role="button"
                    data-toggle="collapse"
                    href="#collapse10-1"
                    aria-expanded="false"
                    aria-controls="collapse10-1"
                  >
                    COVID-19 Serology/Antibody Testing
                  </a>
                </h4>
              </div>
              <div
                id="collapse10-1"
                class="collapse"
                aria-labelledby="heading10-1"
                data-parent="#accordion-10"
              >
                <div class="field-body">
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Donec odio. Quisque volutpat mattis eros. Nullam malesuada
                    erat ut turpis. Suspendisse urna nibh, viverra non, semper
                    suscipit, posuere a, pede. Donec nec justo eget felis
                    facilisis fermentum.
                  </p>
                </div>
              </div>
            </div>

            <div class="field active">
              <div class="field-header" id="heading10-2">
                <h4 class="field-title">
                  <a
                    class="accordion-link"
                    role="button"
                    data-toggle="collapse"
                    href="#collapse10-2"
                    aria-expanded="true"
                    aria-controls="collapse10-2"
                  >
                    What is CareMed's policy on controlled substances?
                  </a>
                </h4>
              </div>
              <div
                id="collapse10-2"
                class="collapse show"
                aria-labelledby="heading10-2"
                data-parent="#accordion-10"
              >
                <div class="field-body">
                  <p>
                    Yes, during your visit the doctor will discuss if taking
                    time off from work or school is part of your treatment plan.
                  </p>
                  <p>
                    If you need an excuse note, you may request one from the
                    doctor during your visit. You’ll receive an alert when your
                    excuse note is ready in your account, from there you can
                    download to print or email.
                  </p>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="field-header" id="heading10-3">
                <h4 class="field-title">
                  <a
                    class="accordion-link collapsed"
                    role="button"
                    data-toggle="collapse"
                    href="#collapse10-3"
                    aria-expanded="false"
                    aria-controls="collapse10-3"
                  >
                    Can CareMed help with the Coronavirus?
                  </a>
                </h4>
              </div>
              <div
                id="collapse10-3"
                class="collapse"
                aria-labelledby="heading10-3"
                data-parent="#accordion-10"
              >
                <div class="field-body">
                  <p>
                    Nullam malesuada erat ut turpis. Suspendisse urna nibh,
                    viverra non, semper suscipit, posuere a, pede. Donec nec
                    justo eget felis facilisis fermentum.Lorem ipsum dolor sit
                    amet, consectetuer adipiscing elit. Donec odio. Quisque
                    volutpat mattis eros. Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit. Donec odio. Quisque volutpat
                    mattis eros.
                  </p>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="field-header" id="heading10-4">
                <h4 class="field-title">
                  <a
                    class="accordion-link collapsed"
                    role="button"
                    data-toggle="collapse"
                    href="#collapse10-4"
                    aria-expanded="false"
                    aria-controls="collapse10-4"
                  >
                    Can CareMed Fill My Prescription?
                  </a>
                </h4>
              </div>
              <div
                id="collapse10-4"
                class="collapse"
                aria-labelledby="heading10-4"
                data-parent="#accordion-10"
              >
                <div class="field-body">
                  <p>
                    Nullam malesuada erat ut turpis. Suspendisse urna nibh,
                    viverra non, semper suscipit, posuere a, pede. Donec nec
                    justo eget felis facilisis fermentum.Lorem ipsum dolor sit
                    amet, consectetuer adipiscing elit. Donec odio. Quisque
                    volutpat mattis eros. Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit. Donec odio. Quisque volutpat
                    mattis eros.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------
		    FAQ section - end
		    ------------------------------------------------>
  <!------------------------------------------------
            explore section - start
			------------------------------------------------>
  <div class="bg-light-color explore-section">
    <div class="container">
      <h2 class="ls-n-20 text-center section-heading">More to explore.</h2>
      <div class="explore-section-row">
        <div class="image-box explore-card text-center">
          <a href="appointment-step1.html">
            <figure>
              <img
                src="/static/assets/images/banner/explore-1.jpg"
                class="w-100"
                alt="Blog"
              />
              <div class="hover">
                <div class="circle">
                  <i class="fas fa-link"></i>
                </div>
              </div>
            </figure>
            <div class="box-content">
              <h4 class="box-title">Book an<br />appointment</h4>
            </div>
          </a>
        </div>
        <div class="image-box explore-card text-center">
          <a href="how-it-works.html">
            <figure>
              <img
                src="/static/assets/images/banner/explore-2.jpg"
                class="w-100"
                alt="Blog"
              />
              <div class="hover">
                <div class="circle">
                  <i class="fas fa-link"></i>
                </div>
              </div>
            </figure>
            <div class="box-content">
              <h4 class="box-title">How does<br />it work?</h4>
            </div>
          </a>
        </div>
        <div class="image-box explore-card text-center">
          <a href="treatments.html">
            <figure>
              <img
                src="/static/assets/images/banner/explore-3.jpg"
                class="w-100"
                alt="Blog"
              />
              <div class="hover">
                <div class="circle">
                  <i class="fas fa-link"></i>
                </div>
              </div>
            </figure>
            <div class="box-content">
              <h4 class="box-title">What we<br />treat</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------
            explore section - end
			------------------------------------------------>
</main>

{% include "footer.html" %}
