{% include "header.html" %}
<!------------------------------------------------
		navigation - end
		------------------------------------------------>
<main class="main">
  <!------------------------------------------------
		    page header - start
		    ------------------------------------------------>
  <div class="page-header bg-more-light">
    <div class="container">
      <h2 class="page-title">Oop's......</h2>
      <br />
      <h5 style="color: red">
        We're working on our App! Soon, you'll be redirect to it and able to
        <span style="color: red"
          ><h4 style="color: red">Book Appointment.</h4></span
        >
      </h5>
    </div>
  </div>
  <!------------------------------------------------
		    page header - end
		    ------------------------------------------------>
  <!------------------------------------------------
		    about content - start
		    ------------------------------------------------>

  <!------------------------------------------------
		    about content - end
		    ------------------------------------------------>
  <!------------------------------------------------
			type section - start
			------------------------------------------------>
  <!-- 
				background image is added through css and can be modified in the _sections.scss file
				the image is added to the .bg-section-4 class.
			-->

  <!------------------------------------------------
			type section - end
			------------------------------------------------>
  <!------------------------------------------------
			team section - start
			------------------------------------------------>

  <!------------------------------------------------
			team section - end
			------------------------------------------------>
  <!------------------------------------------------
			review section - start
			------------------------------------------------>
  <!-- 
				background image is added through css and can be modified in the _sections.scss file
				the image is added to the .bg-section-11 class.
			-->

  <!------------------------------------------------
			review section - end
			------------------------------------------------>
  <!------------------------------------------------
		    FAQ section - start
		    ------------------------------------------------>

  <!------------------------------------------------
		    FAQ section - end
		    ------------------------------------------------>
  <!------------------------------------------------
            explore section - start
			------------------------------------------------>
  <!--<div class="bg-light-color explore-section">
          <div class="container">
            <h2 class="ls-n-20 text-center section-heading">
              More to explore.
            </h2>
            <div class="explore-section-row">
              <div class="image-box explore-card text-center">
                <a href="appointment-step1.html">
                  <figure>
                    <img
                      src="assets/images/banner/explore-1.jpg"
                      class="w-100"
                      alt="Blog"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </figure>
                  <div class="box-content">
                    <h4 class="box-title">Book an<br />appointment</h4>
                  </div>
                </a>
              </div>
              <div class="image-box explore-card text-center">
                <a href="how-it-works.html">
                  <figure>
                    <img
                      src="assets/images/banner/explore-2.jpg"
                      class="w-100"
                      alt="Blog"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </figure>
                  <div class="box-content">
                    <h4 class="box-title">How does<br />it work?</h4>
                  </div>
                </a>
              </div>
              <div class="image-box explore-card text-center">
                <a href="treatments.html">
                  <figure>
                    <img
                      src="assets/images/banner/explore-3.jpg"
                      class="w-100"
                      alt="Blog"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </figure>
                  <div class="box-content">
                    <h4 class="box-title">What we<br />treat</h4>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>-->
  <!------------------------------------------------
            explore section - end
			------------------------------------------------>
</main>
<!------------------------------------------------>
{% include "footer.html" %}
