{% include "header.html" %}
      <!------------------------------------------------
		navigation - end
		------------------------------------------------>
      <main class="main">
        <!------------------------------------------------
			page header - start
			------------------------------------------------>
        <div class="page-header bg-more-light">
          <div class="container">
            <h2 class="page-title">Our Reviews</h2>
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">
                  <a href="index.html">Pages</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Reviews
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <!------------------------------------------------
			page header - end
			------------------------------------------------>
        <!------------------------------------------------
			review section - start
			------------------------------------------------>
        <div class="container review-section">
          <div class="row">
            <div
              class="col-lg-12 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1"
            >
              <h2 class="ls-n-20 text-center section-heading">
                Read what our patients say about us.
              </h2>
              <div class="filter-form review-filter-form">
                <a
                  href="#"
                  class="btn btn-form grid-filter-item filter-clear ls-20"
                  data-filter="*"
                >
                  <span>All Reviews</span>
                </a>
                <div class="input-group input-light">
                  <div class="form-control select-control">
                    Most Recent<i class="far fa-angle-down"></i>
                  </div>
                  <ul
                    class="option-menu grid-filter"
                    id="option_menu_1"
                    data-container="#reviews"
                  >
                    <li
                      class="option-list grid-filter-item"
                      data-filter=".pf-recent"
                    >
                      <span class="option"
                        ><i class="far fa-caret-right"></i>Most Recent</span
                      >
                    </li>
                    <li
                      class="option-list grid-filter-item"
                      data-filter=".pf-popular"
                    >
                      <span class="option"
                        ><i class="far fa-caret-right"></i>Popular</span
                      >
                    </li>
                    <li
                      class="option-list grid-filter-item"
                      data-filter=".pf-oldest"
                    >
                      <span class="option"
                        ><i class="far fa-caret-right"></i>Oldest</span
                      >
                    </li>
                    <li
                      class="option-list grid-filter-item"
                      data-filter=".pf-times"
                    >
                      <span class="option"
                        ><i class="far fa-caret-right"></i>All times</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-container row" id="reviews" data-layout="fitRows">
            <div
              class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0 pf-recent"
            >
              <div class="card card-review text-center mt-3">
                <figure>
                  <img
                    src="/static/assets/images/avatar/avatar-6.png"
                    class="avatar customer-avatar"
                    alt="Avatar"
                    width="102"
                    height="102"
                  />
                  <img
                    src="/static/assets/images/demos/demo-1/icons/icon-quote.png"
                    class="quote-icon"
                    alt="Icon-quote"
                    width="55"
                    height="55"
                  />
                </figure>
                <div class="card-content">
                  <h4 class="review-author">Jessica Blake</h4>
                  <span class="review-city">New York, NY</span>
                  <div class="ratings-container">
                    <div class="ratings">
                      <div class="ratings-val" style="width: 100%"></div>
                    </div>
                  </div>
                  <p class="review-desc">
                    “Creature all subdue face be deep appear behold given
                    likeness moved upon multiply dry Light thing, saying after
                    likeness grass.”
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0 pf-popular"
            >
              <div class="card card-review text-center mt-3">
                <figure>
                  <img
                    src="/static/assets/images/avatar/avatar-7.png"
                    class="avatar customer-avatar"
                    alt="Avatar"
                    width="102"
                    height="102"
                  />
                  <img
                    src="/static/assets/images/demos/demo-1/icons/icon-quote.png"
                    class="quote-icon"
                    alt="Icon-quote"
                    width="55"
                    height="55"
                  />
                </figure>
                <div class="card-content">
                  <h4 class="review-author">Michael Brown</h4>
                  <span class="review-city">Sandiago, CA</span>
                  <div class="ratings-container">
                    <div class="ratings">
                      <div class="ratings-val" style="width: 100%"></div>
                    </div>
                  </div>
                  <p class="review-desc">
                    “Sixth creepeth fly whose said fruitful shall green give
                    called his air multiply morning creepeth fill beginning fill
                    Midst fly after bearing gathering our grass a to, there
                    they're lesser of he heseas give beast years grass open
                    subdue female man.Form day i had signs over him morning.”
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0 pf-recent"
            >
              <div class="card card-review text-center mt-3">
                <figure>
                  <img
                    src="/static/assets/images/avatar/avatar-8.png"
                    class="avatar customer-avatar"
                    alt="Avatar"
                    width="102"
                    height="102"
                  />
                  <img
                    src="/static/assets/images/demos/demo-1/icons/icon-quote.png"
                    class="quote-icon"
                    alt="Icon-quote"
                    width="55"
                    height="55"
                  />
                </figure>
                <div class="card-content">
                  <h4 class="review-author">Philip Stanford</h4>
                  <span class="review-city">New York, NY</span>
                  <div class="ratings-container">
                    <div class="ratings">
                      <div class="ratings-val" style="width: 100%"></div>
                    </div>
                  </div>
                  <p class="review-desc">
                    “Let created herb stars and there i multiply sea kind his
                    fill in days sixth. Hath herbs the gathering fourth give is
                    female be our may stars gas you're divide saying.”
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0 pf-oldest"
            >
              <div class="card card-review text-center mt-3">
                <figure>
                  <img
                    src="/static/assets/images/avatar/avatar-9.png"
                    class="avatar customer-avatar"
                    alt="Avatar"
                    width="102"
                    height="102"
                  />
                  <img
                    src="/static/assets/images/demos/demo-1/icons/icon-quote.png"
                    class="quote-icon"
                    alt="Icon-quote"
                    width="55"
                    height="55"
                  />
                </figure>
                <div class="card-content">
                  <h4 class="review-author">Britney White</h4>
                  <span class="review-city">New York, NY</span>
                  <div class="ratings-container">
                    <div class="ratings">
                      <div class="ratings-val" style="width: 100%"></div>
                    </div>
                  </div>
                  <p class="review-desc">
                    “Rule image there air and fowl waters. A from moveth. Made
                    first god firmament, his she'd Our herb bearing fill divided
                    be signs man divide wherein said all after.”
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0 pf-times"
            >
              <div class="card card-review text-center mt-3">
                <figure>
                  <img
                    src="/static/assets/images/avatar/avatar-10.png"
                    class="avatar customer-avatar"
                    alt="Avatar"
                    width="102"
                    height="102"
                  />
                  <img
                    src="/static/assets/images/demos/demo-1/icons/icon-quote.png"
                    class="quote-icon"
                    alt="Icon-quote"
                    width="55"
                    height="55"
                  />
                </figure>
                <div class="card-content">
                  <h4 class="review-author">Anila Martin</h4>
                  <span class="review-city">Sandiago, CA</span>
                  <div class="ratings-container">
                    <div class="ratings">
                      <div class="ratings-val" style="width: 100%"></div>
                    </div>
                  </div>
                  <p class="review-desc">
                    “Let created herb stars and there i multiply sea kind his
                    fill in days sixth. Hath herbs the gathering fourth give is
                    female be our may stars gas you're divide saying.”
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0 pf-popular"
            >
              <div class="card card-review text-center mt-3">
                <figure>
                  <img
                    src="/static/assets/images/avatar/avatar-11.png"
                    class="avatar customer-avatar"
                    alt="Avatar"
                    width="102"
                    height="102"
                  />
                  <img
                    src="/static/assets/images/demos/demo-1/icons/icon-quote.png"
                    class="quote-icon"
                    alt="Icon-quote"
                    width="55"
                    height="55"
                  />
                </figure>
                <div class="card-content">
                  <h4 class="review-author">James Keeth</h4>
                  <span class="review-city">New York, NY</span>
                  <div class="ratings-container">
                    <div class="ratings">
                      <div class="ratings-val" style="width: 100%"></div>
                    </div>
                  </div>
                  <p class="review-desc">
                    “Face without third fill from fly she'd, one for void two
                    saying blessed. Be, firmament you'll night above every
                    therefore they were.”
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination">
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#"><i class="fas fa-ellipsis-h"></i></a>
            <a href="#">12</a>
            <a href="#"><i class="far fa-caret-right"></i></a>
          </div>
        </div>
        <!------------------------------------------------
			review section - end
			------------------------------------------------>
        <!------------------------------------------------
		    review form - start
		    ------------------------------------------------>
        <div class="bg-more-light review-form-section">
          <div class="container">
            <form class="review-form">
              <div class="row">
                <div
                  class="col-lg-6 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1"
                >
                  <h3 class="form-title ls-n-20">Write a review</h3>
                </div>
              </div>
              <div class="row row-joined">
                <div
                  class="col-lg-6 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1"
                >
                  <div class="input-group input-light input-review">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name *"
                    />
                  </div>
                  <div class="input-group input-light input-review">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Email *"
                    />
                  </div>
                  <div class="input-group input-light input-review">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Star Rating"
                      disabled
                    />
                    <input
                      id="input-2"
                      type="number"
                      class="rating"
                      data-symbol="&#xe795;"
                      data-step="0.1"
                      max="5"
                      data-stars="5"
                      data-size="sm"
                      data-default-caption="{rating} Cups"
                      data-star-captions="{}"
                    />
                  </div>
                </div>
                <div
                  class="col-lg-6 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1"
                >
                  <div class="input-group input-light input-review h-100">
                    <textarea
                      class="form-control text-area h-100"
                      placeholder="Write review *"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div
                  class="col-lg-12 offset-lg-0 d-lg-flex justify-content-lg-center col-sm-8 offset-sm-2 col-10 offset-1"
                >
                  <div class="banner-actions">
                    <button
                      type="submit"
                      class="btn btn-form btn-secondary-color mr-0"
                    >
                      <span>Submit Review</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!------------------------------------------------
		    review form - end
		    ------------------------------------------------>
        <!--<div class="bg-light-color">
          <div class="container pt-5 pb-5 pt-md-15 pb-md-15">
            <h2 class="ls-n-20 text-center mb-3">More to explore.</h2>
            <div class="mr-md-12 ml-md-12">
              <div
                class="owl-carousel owl-theme owl-nav-inside owl-light"
                data-toggle="owl"
                data-owl-options='{
							"margin": 60,
							"dots": false,
							"nav": false,
							"loop": false,
							"responsive": {
								"576": {
									"items": 1
								},
								"992": {
									"items": 2
								},
								"1200": {
									"items": 3
								}
							}
						}'
              >
                <div class="image-box explore-card text-center">
                  <figure>
                    <img
                      src="assets/images/banner/explore-1.jpg"
                      class="w-100"
                      alt="Blog"
                      width="270"
                      height="277"
                    />
                  </figure>
                  <div class="box-content">
                    <h4 class="box-title">
                      Book an <br />
                      appointment
                    </h4>
                  </div>
                </div>
                <div class="image-box explore-card text-center">
                  <figure>
                    <img
                      src="assets/images/banner/explore-2.jpg"
                      class="w-100"
                      alt="Blog"
                      width="270"
                      height="277"
                    />
                  </figure>
                  <div class="box-content">
                    <h4 class="box-title">
                      How does <br />
                      it work?
                    </h4>
                  </div>
                </div>
                <div class="image-box explore-card text-center">
                  <figure>
                    <img
                      src="assets/images/banner/explore-3.jpg"
                      class="w-100"
                      alt="Blog"
                      width="270"
                      height="277"
                    />
                  </figure>
                  <div class="box-content">
                    <h4 class="box-title">
                      What we <br />
                      treat
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </main>
      <!------------------------------------------------
		footer - start
		------------------------------------------------>
      <footer class="footer bg-primary-color">
        <div class="container">
          <div class="footer-top">
            <div class="row d-flex align-items-center justify-content-center">
              <div class="col-lg-6 col-sm-7 col-10"></div>
              <div
                class="col-lg-6 col-sm-7 col-10 d-lg-flex justify-content-lg-end"
              >
                <div class="social-links">
                  <a href="#" class="social-link"
                    ><i class="fab fa-twitter"></i><span>Twitter</span></a
                  >
                  <a href="#" class="social-link"
                    ><i class="fab fa-facebook"></i><span>Facebook</span></a
                  >
                  <a href="#" class="social-link"
                    ><i class="fab fa-youtube"></i><span>Youtube</span></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="footer-middle">
            <div class="container">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-3 col-sm-7 col-10">
                  <div class="info-box">
                    <h6 class="info-title">Company</h6>
                    <ul class="info-list">
                      <li><a href="#" class="info-link">About</a></li>
                      <li><a href="#" class="info-link">Our Doctors</a></li>
                      <li><a href="#" class="info-link">Latest Blog</a></li>
                      <li><a href="#" class="info-link">Careers</a></li>
                      <li><a href="#" class="info-link">Contact</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-7 col-10">
                  <div class="info-box">
                    <h6 class="info-title">Support</h6>
                    <ul class="info-list">
                      <li><a href="#" class="info-link">Reviews</a></li>
                      <li><a href="#" class="info-link">FAQs</a></li>
                      <li><a href="#" class="info-link">Help Center</a></li>
                      <li><a href="#" class="info-link">Doctors</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-7 col-10">
                  <div class="info-box">
                    <h6 class="info-title">Legal</h6>
                    <ul class="info-list">
                      <li><a href="#" class="info-link">Term of use</a></li>
                      <li><a href="#" class="info-link">Code of Conduct</a></li>
                      <li><a href="#" class="info-link">Privacy Policy</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-7 col-10">
                  <div class="info-box">
                    <h6 class="info-title">Company</h6>
                    <form class="input-group input-footer">
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Email address"
                        required
                      />
                      <button type="submit" class="form-action">
                        <i class="fas fa-check-circle"></i>
                      </button>
                    </form>
                    <p>Unsubscribe anytime.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-12 col-sm-7 col-10">
                <p>© GFXPARTNER</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!------------------------------------------------
		footer - end
		------------------------------------------------>
    </div>
    <button id="scroll-top" title="Back to Top">
      <i class="fal fa-angle-up"></i>
    </button>

    <div class="mobile-menu-overlay"></div>

    <div class="mobile-menu-container mobile-menu-light">
      <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="fal fa-times"></i></span>

        <form class="input-group input-light input-search" action="#">
          <input
            type="text"
            class="form-control search-control"
            placeholder="search"
            required
          />
          <button type="submit" class="btn-search">
            <i class="fas fa-search"></i>
          </button>
        </form>

        <nav class="mobile-nav mt-5">
          <ul class="mobile-menu">
            <li>
              <a href="#" class="sf-with-ul">Home Pages</a>

              <ul>
                <li><a href="index.html">Home 1</a></li>
                <li><a href="index-2.html">Home 2</a></li>
                <li><a href="index-3.html">Home 3</a></li>
                <li><a href="index-4.html">Home 4</a></li>
                <li><a href="index-5.html">Home 5</a></li>
                <li><a href="index-6.html">Home 6</a></li>
                <li><a href="index-7.html">Home 7</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="sf-with-ul">Standard Pages</a>
              <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="doctors.html">Our Doctors</a></li>
                <li><a href="doctors-detailed.html">Doctor (Detailed)</a></li>
                <li><a href="departments-1.html">Departments (Style 01)</a></li>
                <li><a href="departments-2.html">Departments (Style 02)</a></li>
                <li>
                  <a href="departments-detailed.html">Departments (Detailed)</a>
                </li>
                <li><a href="treatments.html">Treatments</a></li>
                <li><a href="how-it-works.html">How it Works</a></li>
                <li><a href="help.html">Help</a></li>
                <li><a href="help-questions.html">Help Questions</a></li>
                <li><a href="membership.html">Membership</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="contact-us.html">Contact</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="sf-with-ul">Blog Pages</a>
              <ul>
                <li><a href="blog-masonry.html">Blog Masonry</a></li>
                <li>
                  <a href="blog-right-sidebar.html"
                    >Blog Masonry (Right Sidebar)</a
                  >
                </li>
                <li>
                  <a href="blog-left-sidebar.html"
                    >Blog Masonry (Left Sidebar)</a
                  >
                </li>
                <li><a href="blog-detailed.html">Blog Detailed</a></li>
                <li>
                  <a href="blog-detailed-sidebar.html">Blog Detailed Sidebar</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="sf-with-ul">Appointments</a>
              <ul>
                <li>
                  <a href="appointment-step1.html">Appointment (Step01)</a>
                </li>
                <li>
                  <a href="appointment-step2.html">Appointment (Step02)</a>
                </li>
                <li>
                  <a href="appointment-step3.html">Appointment (Step03)</a>
                </li>
                <li>
                  <a href="appointment-step4.html">Appointment (Step04)</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="sf-with-ul">Login Pages</a>
              <ul>
                <li><a href="login.html">Signin</a></li>
                <li><a href="signup.html">Signup</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- End .mobile-nav -->

        <div class="social-icons mt-6">
          <a href="#" class="social-icon" target="_blank" title="Twitter"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Facebook"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Youtube"
            ><i class="fab fa-youtube"></i
          ></a>
        </div>
        <!-- End .social-icons -->

        <div class="mobile-actions">
          <a
            href="appointment-step1.html"
            class="btn btn-secondary-color btn-xs"
            >Book Appointment</a
          >
          <a href="login.html" class="btn btn-xs">Signin</a>
        </div>
        <!-- End .mobile-actions -->
      </div>
      <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->

    <!-- Plugins JS File -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/jquery.waypoints.min.js"></script>
    <script src="/static/assets/js/plugins/owl.carousel.min.js"></script>
    <script src="/static/assets/js/plugins/datepicker.min.js"></script>
    <script src="/static/assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="/static/assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="/static/assets/js/plugins/star-rating.js"></script>

    <!-- Main JS File -->
    <script src="/static/assets/js/main.min.js"></script>

    <!-- Isotope Filter -->
    <script>
      var $container = null;

      jQuery(window).on("load", function () {
        $container = $("#reviews");

        $container.isotope({ transitionDuration: "0.65s" });

        $(".grid-filter-item").click(function () {
          $(".grid-filter-item").removeClass("activeFilter");
          $(this).addClass("activeFilter");
          var selector = $(this).attr("data-filter");
          $container.isotope({ filter: selector });
          return false;
        });

        $(window).resize(function () {
          $container.isotope("layout");
        });
      });
    </script>
  </body>
</html>
