{% include "header.html" %}
<!------------------------------------------------
		navigation - end
		------------------------------------------------>
<main class="main">
  <!------------------------------------------------
		    page header - start
		    ------------------------------------------------>
  <div class="page-header bg-more-light">
    <div class="container">
      <h2 class="page-title">Treatments</h2>
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">
            <a href="index.html">Pages</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Treatments</li>
        </ol>
      </nav>
    </div>
  </div>
  <!------------------------------------------------
		    page header - end
		    ------------------------------------------------>
  <!------------------------------------------------
			step section section - start
			------------------------------------------------>
  <div class="container step-section">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12 col-md-8 col-sm-8 col-10">
        <h2 class="ls-n-20 text-center section-heading">
          Our experts cover all sort of conditions.
        </h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div
        class="banner-aside align-items-lg-start d-md-flex col-lg-12 col-md-8 col-sm-8 col-10"
      >
        <figure class="mr-xl-10 mr-lg-5 mr-md-3">
          <img
            src="/static/assets/images/demos/demo-6/banner/aside-1.jpg"
            class="img-aside"
            alt="Banner-aside"
            width="470"
            height="447"
            v
          />
          <img
            src="/static/assets/images/demos/demo-6/puzzle/puzzle-1.png"
            class="puzzle"
            alt="Puzzle"
            width="160"
            height="217"
          />
        </figure>
        <div class="banner-content mt-5">
          <p class="banner-subtitle">Common Conditions</p>
          <h3 class="banner-title">Need urgent care we are here for you.</h3>
          <div class="row">
            <div class="col-md-6 col-xl-6">
              <ul class="card-menu ls-20 mb-0">
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Cold and Flu</a>
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link"
                    >Urinary Track Infections</a
                  >
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link"
                    >Sinus Infections</a
                  >
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Pink Eye</a>
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-xl-6">
              <ul class="card-menu ls-20 mb-0 ml-xl-4">
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link"
                    >Bacterial Infections</a
                  >
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">STDs</a>
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Sore Throat</a>
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Headaches</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        class="banner-aside align-items-lg-start d-md-flex img-right col-lg-12 col-md-8 col-sm-8 col-10"
      >
        <figure>
          <img
            src="/static/assets/images/demos/demo-6/banner/aside-2.jpg"
            class="img-aside"
            alt="Banner-aside"
            width="470"
            height="447"
            v
          />
          <img
            src="/static/assets/images/demos/demo-6/puzzle/puzzle-2.png"
            class="puzzle"
            alt="Puzzle"
            width="160"
            height="217"
          />
        </figure>
        <div class="banner-content mt-5 order-first">
          <p class="banner-subtitle">Ongoing Conditions</p>
          <h3 class="banner-title mr-n-1">
            Serious disease get care every step of the way.
          </h3>
          <div class="row">
            <div class="col-md-6 col-xl-6">
              <ul class="card-menu ls-20 mb-0">
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Diabetes</a>
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Hypertension</a>
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Asthma</a>
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Depression</a>
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-xl-6">
              <ul class="card-menu ls-20 mb-0 ml-xl-4">
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Anxiety</a>
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link"
                    >Thyroid Disorders</a
                  >
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Sore Throat</a>
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Headaches</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        class="banner-aside align-items-lg-start d-md-flex col-lg-12 col-md-8 col-sm-8 col-10"
      >
        <figure class="mr-xl-10 mr-lg-5 mr-md-3">
          <img
            src="/static/assets/images/demos/demo-6/banner/aside-3.jpg"
            class="img-aside"
            alt="Banner-aside"
            width="470"
            height="447"
            v
          />
          <img
            src="/static/assets/images/demos/demo-6/puzzle/puzzle-3.png"
            class="puzzle"
            alt="Puzzle"
            width="160"
            height="217"
          />
        </figure>
        <div class="banner-content mt-5">
          <p class="banner-subtitle">Everyday Treatments</p>
          <h3 class="banner-title">Book an appointment for everyday care.</h3>
          <div class="row">
            <div class="col-md-6 col-xl-6">
              <ul class="card-menu ls-20 mb-0">
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">PrEP</a>
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Birth Control</a>
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Prescription</a>
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Hair Loss</a>
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-xl-6">
              <ul class="card-menu ls-20 mb-0 ml-xl-4">
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link"
                    >Prescription Refills</a
                  >
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Mental Health</a>
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Sore Throat</a>
                </li>
                <li class="menu-item">
                  <i class="far fa-caret-right"></i
                  ><a href="treatments.html" class="item-link">Headaches</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------
			step section section - end
			------------------------------------------------>
  <!------------------------------------------------
            explore section - start
			------------------------------------------------>
  <!--<div class="bg-light-color explore-section">
          <div class="container">
            <h2 class="ls-n-20 text-center section-heading">
              More to explore.
            </h2>
            <div class="explore-section-row">
              <div class="image-box explore-card text-center">
                <a href="appointment-step1.html">
                  <figure>
                    <img
                      src="assets/images/banner/explore-1.jpg"
                      class="w-100"
                      alt="Blog"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </figure>
                  <div class="box-content">
                    <h4 class="box-title">Book an<br />appointment</h4>
                  </div>
                </a>
              </div>
              <div class="image-box explore-card text-center">
                <a href="how-it-works.html">
                  <figure>
                    <img
                      src="assets/images/banner/explore-2.jpg"
                      class="w-100"
                      alt="Blog"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </figure>
                  <div class="box-content">
                    <h4 class="box-title">How does<br />it work?</h4>
                  </div>
                </a>
              </div>
              <div class="image-box explore-card text-center">
                <a href="treatments.html">
                  <figure>
                    <img
                      src="assets/images/banner/explore-3.jpg"
                      class="w-100"
                      alt="Blog"
                    />
                    <div class="hover">
                      <div class="circle">
                        <i class="fas fa-link"></i>
                      </div>
                    </div>
                  </figure>
                  <div class="box-content">
                    <h4 class="box-title">What we<br />treat</h4>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>-->
  <!------------------------------------------------
            explore section - end
			------------------------------------------------>
</main>
<!------------------------------------------------
		footer - start
		------------------------------------------------>
{% include "footer.html" %}
